{% extends 'base.html'  %}

{% block head_title %} {{instance.title}} |{{block.super}} {% endblock head_title %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="GET">
    <div class="input-group">   <input type="text" name="q" class="from-control" value='{{request.GET.q}}' placeholder="search posts..">
    <span class="input-group-btn">
        <input type="submit" class="btn btn-danger" value="Submit">
    </span>
    </div>
</form>
<hr><br>
<div class="col-sm-8 col-sm-offset-2"> 
<div class="row">
{% for obj in object_list %}
 <div class="col-sm-12">
     <div class="thumbnail">
        {% if obj.image %}
        <img src='{{obj.image.url}}' alt="" class="img-responsive" style="max-height:300px">
        {% endif %}
         <div class="caption post-detail-item">
             {% if obj.draft %} <h3>Staff only: Draft..</h3>{% endif %} {% if obj.publish > today %} <h4>Staf only:Future Post</h4> {% endif %}
             <h3><a href='{{obj.get_absolute_url}}'> <h3> {{obj.title }} </a><small>{{obj.timestap|timesince}}</small></h3>
             <p class="">{{obj.get_markdown}}</p>
             <p ><small class="text-muted">{{obj.updated }}</small></p>
             <p><a href='{{obj.get_absolute_url}}' class="btn btn-primary" role="button">View</a></p>
            </div>
         
     </div>
 </div>

{% endfor %}

</div>
</div>  
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>



{% endblock content %}